* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
    font-family: "Trebuchet MS";
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 370px;
}
.form {
    grid-column-start: 1;
    grid-column-end: 5;
    height: 50px;
}
.visor {
    width: 100%;
    height: 100%;
    font-size: 40px;
}
.botao {
    height: 50px;
    font-size: 40px;
}
.titulo {
    width: 370px;
    text-align: center;
}